body {
  margin: 0;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-cont {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.gameboard {
  width: 25vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.cell {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.counters {
  display: flex;
  gap: 32px;
}
.pop-up {
  width: 25vw;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.697);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
}
